@model SalonGarden.Web.Models.EvaluationDetailVIewModel

@{
    ViewData["Title"] = "Details";
}


<h3>Evaluation Details</h3>



<div class="row mb-2">
    <div class="col-6">
        <div class="border border-bottom-0 bg-light p-1">
            <b>Student</b>
        </div>
        <div class="border p-1">
            @Model.Student.Email
        </div>
    </div>
    <div class="col-6">
        <div class="border border-bottom-0 bg-light p-1">
            <b>Educator</b>
        </div>
        <div class="border p-1">
            @Model.Educator.UserName

        </div>
    </div>
</div>



<div class="row mb-2">
    <div class="col-4">
        <div class="border border-bottom-0 bg-light p-1">
            <b>Created</b>
        </div>
        <div class="border p-1">
            @Model.Evaluation.CreationDate.ToShortDateString()
        </div>
    </div>
    <div class="col-4">
        <div class="border border-bottom-0 bg-light  p-1">
            <b>Technique</b>
        </div>
        <div class="border  p-1">
            @Model.Evaluation.Technique.Description

        </div>
    </div>
    <div class="col-4">
        <div class="border border-bottom-0 bg-light  p-1">
            <b>Type</b>
        </div>
        <div class="border  p-1">
            @Model.Evaluation.EvaluationType.Description

        </div>
    </div>
</div>



@foreach (var criteriaGroup in Model.CriteriaGroups.OrderBy(x => x.SequenceNumber))
{
<div class="border  p-2 mb-2">
    <h4>@criteriaGroup.Description</h4>
    @foreach (var criteria in criteriaGroup.EvaluationCriteria.OrderBy(x => x.SequenceNumber))
    {
        <div class="d-flex mb-2 border bg-light p-2">
            <div>
                <span>@criteria.Description</span>
            </div>
            <div class="ml-auto">

                <span>
                    @Model.Evaluation.EvaluationDetailItems.First(x => x.EvaluationCriteriaId == criteria.Id).AllocatedPoints
                </span>
            </div>
        </div>
    }
</div>
}


<div>
    <a asp-action="Edit" asp-route-id="@Model.Evaluation.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
