@model SalonGarden.Web.Models.EditEvaluationViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="border bg-light p-2 mb-2 d-flex">
    <div> <span class="h3">@Model.Student.Email</span></div>
    <div class="ml-auto">
       
            <button class="btn btn-success" data-toggle="modal" data-target="#completeEvalModal">
                Complete Evaluation
            </button>
       

    </div>
</div>

<div class="mb-2">
    <div class="row mb-2">
        <div class="col-6">
            <div class="border border-bottom-0 bg-light p-1">
                <b>Created</b>
            </div>
            <div class="border p-1 bg-white">
                @Model.Evaluation.CreationDate.ToShortDateString()
            </div>
        </div>
        <div class="col-6">
            <div class="border border-bottom-0 bg-light p-1">
                <b>Educator</b>
            </div>
            <div class="border p-1 bg-white">
                @Model.Educator.UserName

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="border border-bottom-0 bg-light  p-1">
                <b>Technique</b>
            </div>
            <div class="border  p-1 bg-white">
                @Model.Evaluation.Technique.Description

            </div>
        </div>
        <div class="col-6">
            <div class="border border-bottom-0 bg-light  p-1">
                <b>Evaluation Type</b>
            </div>
            <div class="border  p-1 bg-white">
                @Model.Evaluation.EvaluationType.Description

            </div>
        </div>
    </div>

</div>

<hr />

@foreach (var criteriaGroup in Model.CriteriaGroups.OrderBy(x => x.SequenceNumber))
{
    <div class="border p-2 mb-2">
        <h4>@criteriaGroup.Description</h4>
        @foreach (var criteria in criteriaGroup.EvaluationCriteria.OrderBy(x => x.SequenceNumber))
        {
            var detailItem = Model.Evaluation.EvaluationDetailItems.First(x => x.EvaluationCriteriaId == criteria.Id);
            <div class="d-flex mb-2 border bg-light p-2">
                <div>
                    <span>@criteria.Description</span>
                </div>
                <div class="ml-auto">

                    <select class="form-control scoreInput" data-detailItemId="@detailItem.Id">
                        @for (int i = 0; i <= criteria.TotalPoints; i++)
                        {
                            <option value="@i" selected="@(detailItem.AllocatedPoints == i ? true : false)">@i</option>
                        }
                    </select>
                </div>
            </div>
        }
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>


<!-- Modal -->
<div class="modal fade" id="completeEvalModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CompleteEvaluation" asp-controller="Evaluations">
                <input type="hidden" name="evaluationId" value="@Model.Evaluation.Id" />
                <div class="modal-header">
                    <h5 class="modal-title">Complete Evaluation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">
                        Complete this evaluation?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Complete Evaluation</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/editEvaluation.js" asp-append-version="true"></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
