@model SalonGarden.Web.Models.EditEvaluationViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="border bg-light p-2 mb-2">
    <div class="row">
        <div class="col-3">
            <b>Student</b> <br />
            @Model.Student.Email
        </div>
        <div class="col-3">
            <b>Educator</b> <br />
            @Model.Educator.UserName
        </div>
        <div class="col-3">
            <b>Created</b> <br />
            @Model.Evaluation.CreationDate.ToShortDateString()
        </div>
        <div class="col-3">
            <b>Technique</b> <br />
            @Model.Evaluation.Technique.Description
        </div>
    </div>
</div>

@foreach (var criteriaGroup in Model.CriteriaGroups.OrderBy(x => x.SequenceNumber))
{
    <div class="border p-2 mb-2">
        <h4>@criteriaGroup.Description</h4>
        @foreach (var criteria in criteriaGroup.EvaluationCriteria.OrderBy(x => x.SequenceNumber))
        {
            var detailItem = Model.Evaluation.EvaluationDetailItems.First(x => x.EvaluationCriteriaId == criteria.Id);
            <div class="d-flex mb-2 border bg-light p-2">
                <div>
                    <span>@criteria.Description</span>
                </div>
                <div class="ml-auto">

                    @*<input type="number" class="form-control scoreInput w-25" data-detailItemId="@detailItem.Id" value="@detailItem.AllocatedPoints" /> of <b>@criteria.TotalPoints</b>*@
                    <select class="form-control scoreInput" data-detailItemId="@detailItem.Id">
                        @for (int i = 0; i < criteria.TotalPoints; i++)
                        {
                            <option value="@i" selected="@(detailItem.AllocatedPoints == i ? true : false)" >@i</option>
                        }
                    </select>

                    @*<input class="form-control scoreInput" data-detailItemId="@detailItem.Id" value="@detailItem.AllocatedPoints" />*@
                </div>
            </div>
        }
    </div>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/editEvaluation.js" asp-append-version="true"></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
