@model SalonGarden.Web.Models.EvaluationListViewModel
@{
    ViewData["Title"] = "History";
}

<h3>History</h3>
<div class="mb-2">
    <a asp-action="index" asp-controller="Evaluations">View Open</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Educator</th>
            <th>Type</th>
            <th>Technique</th>
            <th>Score</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evaluation in Model.EvaluationDtos)
        {
            <tr>
                <td>
                    @evaluation.CreationDate.ToShortDateString()
                </td>
                <td>
                    @evaluation.StudentName
                </td>
                <td>
                    @evaluation.EducatorName
                </td>
                <td>
                    @evaluation.EvaluationType
                </td>
                <td>
                    @evaluation.TechniqueName
                </td>
                <td>
                    @evaluation.Score
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@evaluation.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@evaluation.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>