@model EvaluationListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Educator</th>
            <th>Type</th>
            <th>Technique</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var evaluation in Model.EvaluationDtos) {
        <tr>
            <td>
               @evaluation.CreationDate.ToShortDateString()
            </td>
            <td>
                @evaluation.StudentName
            </td>
            <td>
                @evaluation.EducatorName
            </td>
            <td>
                @evaluation.EvaluationType
            </td>
            <td>
                @evaluation.TechniqueName
            </td>         
            <td>
                <a asp-action="Edit" asp-route-id="@evaluation.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@evaluation.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@evaluation.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
